/* Folha de Estilos Padrão */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    background: #EEE;
    color: #434343;
    font-family: calibri;
}

main {
	width: 80%;
	max-width: 1420px;
	margin: 0 auto;
}

nav {
    background: #5da2F6;
    width: 100%;
    height: 52px;
    text-align: center;
}

h1 {
    background: #525252;
    color: #FFF;
    text-align: center;
    padding: 25px 0;
    margin: 0 0 7px;
    font-size: 28px;
    font-family: "Champagne & Limousines";
}

nav a {
    padding: 16px 34px;
    display: inline-block;
    color: #FFF;
    font-family: "Champagne & Limousines";
    font-size: 20px;
    border-bottom: 5px #EEE solid;
    cursor: pointer;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

nav a:hover {
	background: #777;
    border-bottom: 5px #525252 solid;
}

section {
	background: #FFF;
	width: 100%;
	padding: 16px 0;
	margin: 7px 0;
}

p, h2 {
    padding: 16px 25px;
    color: #434343;
    text-align: center;
    font-family: calibri;
}

h2 {
    background: #DDD;
    font-weight: normal;
    font-size: 22px;
    width: 90%;
    margin: 0 auto;
    padding: 16px 0;
}

#telefones, #chips, #linhas, #historico {
	display: none;
}


form {
    width: 50%;
    margin: 12px auto;
}

label {
    display: block;
    text-align: center;
    background: #DDD;
    padding: 10px 0 0;
    color: #434343;
    font-family: calibri;
    margin-bottom: 12px;
}

input[type="date"] {
    width: 100%;
    font-family: calibri;
    font-size: 16px;
    padding: 7px;
    margin-top: 10px;
    border: 1px solid #DDD;
    color: #434343;
}

input[type="submit"] {
    background: #2680e6;
    color: #FFF;
    border: none;
    padding: 16px 10%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

input[type="submit"]:hover {
    background: #3a92f8;
}

a.acao.selecionado {
    background: rgba(0,0,0,.43);
    border-color: #38C;
}

div.linhaResultado {
    display: block;
    padding: 12px 2%;
    width: 86%;
    margin: 0 auto;
    text-align: center;
}

div.linhaResultado:nth-child(odd) {
	background: #CCC;
}

div.colunaResultado {
    width: 14%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

footer {
    text-align: center;
    margin: 25px 0 12px;
}

a.exportar {
    display: block;
    margin: 25px auto;
    width: 50%;
    text-align: center;
    padding: 16px 0;
    background: #777;
    color: #FFF;
    cursor: pointer;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}


a.exportar:hover {
    background: #5da2F6;
}
.tituloResultados {
    display: block;
    padding: 0px 2%;
    width: 86%;
    margin: 0 auto;
    background: #777;
    color: #FFF;
    text-align: center;
}

.tituloResultados a {
    width: 14%;
    display: inline-block;
    vertical-align: top;
    padding: 16px 0;
    cursor: pointer;
    text-align: center;
    transition: all 0.43s;
    -o-transition: all 0.43s;
    -moz-transition: all 0.43s;
    -webkit-transition: all 0.43s;
}

.tituloResultados a:hover {
    background: #555;
}

.tituloResultados a.selecionado {
    background: #407ec3;
}

div#resultadosEstados, div#resultadosTransp {
    margin-top: 34px;
}

div.colunaResultado2 {
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

a.linkTitulo2 {
    width: 25%;
}